<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8"/>
<meta name="description" content=" Site de salle de sport My fitness" />
<meta name="keywords" content="santé, sport, fitness, healthy, salle de sport,musculation,entrainement,Myfitness, sallede gym "/>
<title>Les tarifs de My Fitness réalisés par Yasmine Triki</title>
<link rel="stylesheet" href="../css/style.css"/>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head >

<body>
	
	<header> 
		<img id="logo" src="../img/log.png" width="150" height="150" alt="logo de Myfitness" title="logoMyfitness" />
	<center><h1 id="titre_principal">My Fitness</h1></center>
  <nav>
	<ul>
   <li><a class="active" href="../view/tarifs.html">Tarifs</a></li>
  <li><a  href="../view/inscription.php">Inscription</a></li>
</ul>
</nav>
	</header>



<div>
<br /> <br /> <h2 id="tarif" >Tarifs</h2>
<hr class="separateur">
</div>
<center>
<div class="pricing-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing">
						<div class="head-text">
							<h3>Abonnement 3 mois</h3>
						</div>
						<div class="price-area">
							150DT<span class="duration">/ mois</span>
						</div>
						<div class="feature-area">
						  <ul>
						   <li>Accés illimité</li>	
						   <li>7H-21H</li>
						   <li>300Dt</li>
						   <li>Accés illimité à tous les cours</li>
						  </ul>
						</div>
						<div class="btn-area">
							<input type=button class="sab" onclick=window.location.href="../html/inscription.html"; value="S'abonner" /></strong></h4>
						</div>
					</div>
				</div>
							<div class="col-lg-4 col-md-6">
					<div class="single-pricing">
						<div class="head-text">
							<h3>Abonnement 6 mois</h3>
						</div>
						<div class="price-area">
							90DT<span class="duration">/mois</span>
						</div>
						<div class="feature-area">
						  <ul>
						   <li>Accés illimité</li>	
						   <li>7H-21H</li>
						   <li>540Dt</li>
						   <li>Accés illimité à tous les cours</li>
						  </ul>
						</div>
						<div class="btn-area">
							<input type=button class="sab" onclick=window.location.href="../html/inscription.html"; value="S'abonner" /></strong></h4>
						</div>
					</div>
				</div>
							<div class="col-lg-4 col-md-6">
					<div class="single-pricing">
						<div class="head-text">
							<h3>Abonnement 12 mois</h3>
						</div>
						<div class="price-area">
							75DT<span class="duration">/ mois</span>
						</div>
						<div class="feature-area">
						  <ul>
						   <li>Accés illimité</li>	
						   <li>7H-21H</li>
						   <li>900Dt</li>
						   <li>Accés illimité à tous les cours</li>
						  </ul>
						</div>
						<div class="btn-area">
							<input type=button class="sab" onclick=window.location.href="../html/inscription.html"; value="S'abonner" /></strong></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</center>



<footer>
 <center>My Fitness&copy;2018-2019</center>
 </footer>

</body>
</html>